*{ box-sizing: border-box;}

body{
    background: #ffb4e2;
    color: rgb(13, 0, 255);
}

@font-face {
font-family: "CarlaSansLight";
src: url("../fonts/CarlaSansLight.ttf") format("truetype");
font-style: Light;
font-weight: Light;
}

h1 , p{ 
    font-size: 4vw;
    font-family: 'CarlaSansLight';
    text-align: center; }

    #content{
        margin-top: 10%;
    }

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
